<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" >
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" ></script>
<title>Home page</title>
</head>
<body>
	<div class="container">
		<div class="pb-2 mt-4 pb-2">
		<h3>Gestione contatti</h3>
		</div>
				
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Cognome</th>
					<th>Username</th>
			    </tr>
			 </thead>
			 <tbody>
			 	<tr th:each="contatto : ${listaContatti}">
			 		<td th:text="${contatto.nome}"></td>
			 		<td th:text="${contatto.cognome}"></td>
			 		<td th:text="${contatto.username}"></td>
			 	</tr>
			 </tbody>
		</table>	
	</div>
</body>
</html>
